/* Global styles. */

:root {
  --small-font-size: 12px;
  --medium-font-size: 16px;
  --large-font-size: 20px;
  --primary-color: #494949;
  --accent-color: #002652;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
