@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Global styles. */
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.grey-icon-button {
  border: none;
  width: 35px;
  height: 35px;
  background-color: #ececec;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
