<div class="wrapper">
  <h1 class="heading">Welcome back, friend</h1>
  <form [formGroup]="loginForm" class="log-in-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="user@gmail.com"
      />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="loginForm.get('password')?.invalid">
        Password is required
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="loginForm.hasError('formError')">No active account with given credentials was found.</mat-error>

    <button
      type="submit"
      mat-raised-button
      color="accent"
      class="log-in-button"
      [disabled]="isLoading"
    >
      {{ isLoading ? "Logging in..." : "Log in" }}
    </button>
  </form>
</div>
