<div class="wrapper">
  <h1 class="heading">Welcome back, friend</h1>
  <form [formGroup]="loginForm" class="log-in-form">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="user@gmail.com"
      />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
  </form>

  <ng-container *ngIf="loginForm.hasError('formError')">
    <mat-error>No active account with given credentials was found.</mat-error>
  </ng-container>

  <button
  *ngIf="!isLoading"
    type="submit"
    mat-raised-button
    color="accent"
    class="log-in-button"
    (click)="onSubmit()"
  >
    Log in
  </button>
  
  <button
  *ngIf="isLoading"
    type="submit"
    mat-raised-button
    color="accent"
    class="log-in-button"
  >
    Logging in
  </button>
</div>
