<ng-container *ngIf="response$ | async as details">
  <main class="main">
    <button
      (click)="goBack()"
      type="button"
      mat-icon-button
      color="primary"
      class="go-back-button"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="content">
      <section class="details-view">
        <div class="image">
          <img src="{{ details.image }}" alt="Anime cover" />
          <div class="open-full-size" (click)="changePopupState()">
            <mat-icon>open_in_full</mat-icon>
          </div>
        </div>
        <div
          class="pop-up"
          [ngClass]="isPopupOpened ? 'open-pop-up' : 'close-pop-up'"
        >
          <div class="overlay">
            <div class="pop-up-image">
              <img src="{{ details.image }}" alt="Anime cover" />
            </div>
            <div class="close-full-size" (click)="changePopupState()">
              <mat-icon>close</mat-icon>
            </div>
          </div>
        </div>
      </section>
      <section class="details-text">
        <h2 class="title-jpn">
          {{ details.titleJpn }}
          <span class="airing-period">
            (
            <span *ngIf="details.airedStartDate !== null">{{ details.airedStartDate | date : "YYYY" }}</span>
            <span *ngIf="details.airedEndDate !== null">-{{ details.airedEndDate | date : "YYYY" }}</span>
            )
          </span>
        </h2>
        <h3 class="title-eng">{{ details.titleEng }}</h3>
        <div class="about">
          <h4 class="title">About</h4>
          <div class="detail">
            <div>Type</div>
            <div>{{ details.type | titlecase }}</div>
          </div>
          <div class="detail">
            <div>Status</div>
            <div>{{ details.status | titlecase }}</div>
          </div>
          <div class="detail">
            <div>Rating</div>
            <div>{{ details.rating }}</div>
          </div>
          <div class="detail">
            <div>Source</div>
            <div>{{ details.source | titlecase }}</div>
          </div>
          <div class="detail">
            <div>Season</div>
            <div>{{ details.season | titlecase }}</div>
          </div>
          <div class="detail">
            <div>Airing</div>
            <div>{{ details.airing ? "Yes" : "No" }}</div>
          </div>
          <div class="detail">
            <div>Studios</div>
            <div class="genre-list">
              <span *ngFor="let studio of details.studios" class="studio">
                {{ studio.name }}
              </span>
            </div>
          </div>
          <div class="detail">
            <div>Genres</div>
            <div class="genres-list">
              <span *ngFor="let genre of details.genres" class="genre">
                {{ genre.name }}</span>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="trailer">
      <youtube-player
        videoId="{{ details.trailer }}"
        [width]="400"
        [height]="250"
      >
      </youtube-player>
    </div>
  </main>
</ng-container>
