.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.text {
  padding: 110px 0;
}

.image {
  width: 450px;
  margin-left: 30px;
}

.heading {
  letter-spacing: 2px;
}

.description {
  padding-top: 10px;
  font-weight: 400;
}

.button {
  margin-top: 30px;
  font-size: var(--medium-font-size);
  padding: 20px 25px;
}
