.anime-table {
  padding: 20px 0;
  width: 100%;
  border-collapse: collapse;
}

.anime-list-caption {
  text-align: left;
  font-size: var(--large-font-size);
  font-weight: 700;
  margin-bottom: 30px;
}

.cell-anime-img img {
  max-width: 150px;
  max-height: 150px;
}

.cdk-row {
  height: 150px;
}

.cdk-header-cell {
  font-weight: 700;
}
