.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date-range {
  margin-bottom: 10px;
}

.mat-mdc-form-field {
  max-width: 400px;
}
