.wrapper {
  position: relative;
}

.anime-table {
  width: 100%;
  border-collapse: collapse;
}

.title {
  text-align: left;
  font-size: var(--large-font-size);
  font-weight: 700;
  margin: 30px 0 20px;
}

.cell-anime-img img {
  max-width: 150px;
  max-height: 150px;
}

.cdk-row {
  height: 150px;
}

tr.selected-row:hover {
  background-color: var(--light-grey-color);
}

.cdk-header-cell {
  font-weight: 700;
}

.spinner-with-shade {
  position: absolute;
  height: 100%;
  inset: 0;
  z-index: 1;
  background-color: var(--shade-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.management-form {
  display: flex;
  align-items: center;
  padding: 15px 0;
  gap: 15px;
}

.search {
  margin-left: auto;
}
