<div class="wrapper">
  <form (ngSubmit)="onSearch()" class="management-form">
    <mat-form-field class="filter-field">
      <mat-label>Sort by</mat-label>
      <mat-select [(value)]="sortOption" (selectionChange)="onSort($event)">
        <mat-option value="title_eng">Title (eng)</mat-option>
        <mat-option value="aired__startswith">Airing start date</mat-option>
        <mat-option value="status">Status</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Filter by</mat-label>
      <mat-select
        [(value)]="filterOption"
        (selectionChange)="onFilter($event)"
        multiple
      >
        <mat-option *ngFor="let option of sortOptions" value="{{option}}"> {{option | titlecase }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="search">
      <input matInput placeholder="Search..." [(ngModel)]="inputValue" name="Search input"/>
    </mat-form-field>
  </form>
</div>
