<header class="header">
  <h1 routerLink="/" class="logo"><span class="logo-accent">Anime</span>ted</h1>
  <ng-container *ngIf="!isLoggedIn">
    <button
      routerLink="/auth/log-in"
      mat-button
      color="primary"
      type="button"
      class="log-in button"
    >
      Log in
    </button>
    <button
      routerLink="/auth/sign-up"
      mat-raised-button
      color="primary"
      type="button"
      class="button"
    >
      Sign up
    </button>
  </ng-container>

  <ng-container *ngIf="isLoggedIn">
    <button
      mat-button
      color="primary"
      type="button"
      class="log-out button"
      (click)="onLogOut()"
    >
      Log out
    </button>
  </ng-container>
</header>
