:root {
  --primary-color: #192736;
  --accent-color: #407e99;
  --accent-light-color: #4689a5;
  --accent-bg-color: #407e99be;
  --white-bg-color: #ffff;
  --dark-text-color: #181818;
  --light-text-color: #ffff;
  --winner-color: #a6d9e6;
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--dark-text-color);
  background-color: var(--primary-color);
}

img {
  width: 100%;
  height: 100%;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.header {
  color: var(--light-text-color);
  background-image:
    linear-gradient(-25deg, transparent 75%, var(--accent-bg-color) 50%),
    linear-gradient(25deg, transparent 75%, var(--accent-bg-color) 50%),
    linear-gradient(-115deg, transparent 75%, var(--accent-bg-color) 50%),
    linear-gradient(115deg, transparent 75%, var(--accent-bg-color) 50%);
  background-size: 18px 300px;
}

.game-title {
  margin: 0;
  padding: 20px 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rules {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: var(--light-text-color);
}

.game-title,
.player,
.rules {
  text-align: center;
}

.displays {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.display {
  padding: 20px;
  border-radius: 7px;
  width: 230px;
  height: 350px;
  border: var(--border-radius) solid var(--accent-color);
  background-color: var(--white-bg-color);
}

.accumulator-display {
  margin-top: 20px;
  padding: 0 0 30px 10px;
  height: 120px;
  width: 100%;
}

.player {
  font-weight: bold;
  font-size: 18px;
}

.all-dice-numbers {
  font-weight: bold;
}

.player-avatar {
  margin: 0 auto;
  width: 170px;
}

.roll-dice-button {
  color: var(--light-text-color);
  padding: 16px 22px;
  background-color: var(--accent-color);
  border: none;
  border-radius: var(--border-radius);
  font-size: 18px;
}

.roll-dice-button:hover {
  background-color: var(--accent-light-color);
}
