<div class="wrapper">
  <h2 class="heading">Add new anime</h2>

  <form class="form" [formGroup]="animeForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Title (eng)</mat-label>
      <input matInput type="text" formControlName="titleEng"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Title (jpn)</mat-label>
      <input matInput type="text" formControlName="titleJpn"/>
    </mat-form-field>

    <div class="flex">
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let option of options.type" value="{{ option }}">
            {{ option | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Rating</mat-label>
        <mat-select formControlName="rating">
          <mat-option
            *ngFor="let option of options.rating"
            value="{{ option }}"
          >
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Source</mat-label>
        <mat-select formControlName="source">
          <mat-option
            *ngFor="let option of options.source"
            value="{{ option }}"
          >
            {{ option | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option
            *ngFor="let option of options.status"
            value="{{ option }}"
          >
            {{ option | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Season</mat-label>
        <mat-select formControlName="season">
          <mat-option
            *ngFor="let option of options.season"
            value="{{ option }}"
          >
            {{ option | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Synopsis</mat-label>
      <textarea matInput name="" id="" cols="30" rows="2" formControlName="synopsis"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Youtube trailer ID</mat-label>
      <input matInput type="text" formControlName="youtubeTrailer"/>
    </mat-form-field>

    <camp-autocomplete-input (selectedItems)="onGenresChange($event)" [inputManagement]="genreAutocomplete"/>
    <camp-autocomplete-input (selectedItems)="onStudiosChange($event)" [inputManagement]="studioAutocomplete"/>

    <div class="date-range flex">
      <mat-form-field>
        <mat-label>Anime start date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startDate"/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Anime end date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="endDate"/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="airing">
      <label class="example-margin">Airing</label>
      <mat-radio-group formControlName="airing">
        <mat-radio-button value="true">Yes</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <camp-file-uploader (selectedFile)="onFileSelection($event)" />
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>

</div>
